__pycache__/
*.pyc
.ipynb_checkpoints/

# Model file too large for GitHub (255MB) — train locally using the notebook
distilbert_v2_indian_model/model.safetensors
.vscode/

# Ignore massive datasets
*.csv
Dataset/

# Ignore virtual environment
venv/

# Ignore local DB file
app/prediction_history.db
